/* *{margin:0px; padding:0px}
.container{width:100%; height:100%; position:absolute; background:linear-gradient(#1A76BE,#0063B1);} */


.profileimg {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.element {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
}

.text {
  color: white;
  font-family: '8BITWONDERNominal';
  font-weight: small;
  font-style: normal;
}

.text2 {
  color: white;
  font-family: '8BITWONDERNominal';
  font-weight: small;
  font-style: normal;
  margin-top:25px;
}

.btn {
  margin-bottom: 20px;
}

.textitle {
  color: red;
  font-family: '8BITWONDERNominal';
  font-weight: small;
  font-style: normal;
}

.textred {
  color: red;
  font-family: '8BITWONDERNominal';
  font-weight: small;
  font-style: normal;
}

.flex {
  display: flex;
  justify-content: center;
}

.jumbotron {
  background: none;
}

.line {
  border-color: white;
}


.fill {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}

/* display: flex;
justify-content: center; */

/* .space {
  margin-top: 100px;
} */
