.imgfirstpage {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

.element {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
}

.text {
  color: white;
  font-family: '8BITWONDERNominal';
  font-weight: small;
  font-style: normal;
}

.text2 {
  color: white;
  font-family: '8BITWONDERNominal';
  font-weight: small;
  font-style: normal;
  margin-top:25px;
}

.btn {
  margin-bottom: 20px;
}

.textitle {
  color: red;
  font-family: '8BITWONDERNominal';
  font-weight: small;
  font-style: normal;
}

.jumbotron {
  background: none;
  margin-top: 20px;
}

.line {
  border-color: white;
}
